<div class="col-md-12 row">
  <div class="col-md-2">
    <div class="row" style="margin-top:25px">
      <div class="d-flex justify-content-between mb-3 w-100">
        <div class="p-2">
        </div>
        <div class="p-2" *ngIf="actualPeriod.status != '3'">
          <button class="btn btn-outline-warning" data-toggle="modal" data-target="#alert_modal"
            tittle="Save Policies" (click)="saveAccounting()">
            <i class="far fa-save"></i>
          </button> 
        </div>
        <div class="p-2">
        </div>
        <div class="p-2">
        </div>
        <div class="p-2">
        </div>
      </div>
    </div>
    <div class="row p-2">
      <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient($event.target.value)">
        <option value="1">First Party</option>
        <option value="2">Third Party</option>
        <option value="3">QA</option>
        <option value="4">Hr, Admin, Finance</option>
        <option value="5">Zero Variance</option>
        <option value="6">Arbonne</option>
        <option value="-1" selected>All</option>
      </select>
    </div>
    <div class="row p-2">

    </div>
  </div>
  <div class="col-md-10">
    <div class="row col-md-12" *ngIf="isLoading">
      <div class="d-flex justify-content-center col-md-12">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    </div>
    <div class="progress" style="margin-top:50px" *ngIf="isLoading">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [style.width]="progress + '%'" [attr.aria-valuenow]="progress" aria-valuemin="0"
        [attr.aria-valuemax]="max_progress">{{step}}</div>
    </div>
    <div class="row col-md-12" *ngIf="!isLoading && finished">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <!--
          <label>YEAR:</label>
          <select class="form-control" (change)="setYear()" [(ngModel)]="selectedYear">
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        -->
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label>PERIOD:</label>
        <select class="form-control" [(ngModel)]="selectedPeriod" (change)="setActualPeriod($event.target.value)">
          <option *ngFor="let period of periods" [value]="period.idperiods">{{period.start}} TO {{period.end}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top:25px">
      <div class="col-md-12">
        <nav width=100% style="border-top: 4px solid #e3f2fd;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist" width=100% style="padding-top:15px">
            <a class="nav-item nav-link active" id="nav-Policies-tab" data-toggle="tab" href="#nav-Policies" role="tab"
              aria-controls="nav-Policies" aria-selected="true">
              Cost Policy
            </a>
          </div>
        </nav>
      </div>
      <div class="form-group col-md-12" style="margin-top: 20px;">
        <div class="form-row">
          <div class="col-md-1">
            <label>Correlative:</label>
            <input type="text" class="form-control" [(ngModel)]="header.correlative" disabled="true">
          </div>
          <div class="col-md-3">
            <label>Date:</label>
            <input type="date" class="form-control" [(ngModel)]="header.poldate">
          </div>
          <div class="col-md-3">
            <label>Type:</label>
            <select class="form-control" [(ngModel)]="header.type" (change)="setHeaderType($event.target.value)">
              <option *ngFor='let type of policeTypes' [value]="type.id">{{ type.description }}</option>
            </select>
          </div>
          <div class="col-md-5">
            <label>Description:</label>
            <input type="text" class="form-control" [(ngModel)]="header.description">
          </div>
        </div>
      </div>
    
      <div class="tab-content" id="nav-tabContent" style="margin-top:10px">
        <div class="p-2 justify-content-center">
          <div class="tab-pane fade show active" id="nav-Policies" role="tabpanel" aria-labelledby="nav-Policies-tab">
            <table class="table table-striped" #userTable>
              <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>CLASIFICATION</th>
                <th>DEPARTMENT</th>
                <th>CLASS</th>
                <th>SITE</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
                <th>CLIENT</th>
              </thead>
              <tbody>
                <tr *ngFor="let acp of accountingPolicies" data-toggle="modal"
                  data-target="#attendance_detail">
                  <td>{{acp.external_id}}</td>
                  <td>{{acp.name}}</td>
                  <td>{{acp.clasif}}</td>
                  <td>{{acp.department}}</td>
                  <td>{{acp.class}}</td>
                  <td>{{acp.site}}</td>
                  <td *ngIf="acp.clasif == 'D'" style="text-align: right;">{{ acp.amount | number: '1.2-3' }}</td>
                  <td *ngIf="acp.clasif == 'H'" style="text-align: right;">{{ zero | number: '1.2-3' }} </td>
                  <td *ngIf="acp.clasif == 'D'" style="text-align: right;">{{ zero | number: '1.2-3' }}</td>
                  <td *ngIf="acp.clasif == 'H'" style="text-align: right;">{{ acp.amount | number: '1.2-3' }}</td>
                  <td>{{acp.clientNetSuite}}</td>
                </tr>
                <tr>
                  <td colspan="6" style="align-content: center; text-align: center;">{{ finalRow }}</td>
                  <td>{{ totalDebe | number: '1.2-3' }}</td>
                  <td>{{ totalHaber | number: '1.2-3' }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>