tr {
  height: 10px;
}

tr .selectable{
  cursor: pointer;
}

thead{
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgb(245, 244, 244);
  font-style: normal;
  border-color: rgb(235, 234, 234);
  border-style: solid;
  border-width: 1.5px;
}
thead th{
  border-right-style: solid;
  padding: 0.50rem;
  border-width: 1px;
  border-right-color: rgb(233, 232, 232);
  text-align: center;
}
tbody td{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.50rem;
  border-right-style: solid;
  line-height: 0.60;
  border-width: 1px;
  border-right-color: rgb(233, 232, 232);
  text-align: center;
}
tbody tr{
  font-size:12px;
}

/*
select option {
  background-color: dodgerblue;
  } 

  .navbar {
    margin-bottom: 0;
    background-color: #1f8df4;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  .dropdown li a {
    color: #f4511e !important;
  }
  .navbar-default .navbar-nav>.open>a.dropdown-toggle{
    background-color: #f4511e !important;
  }


  select {
    border-color: transparent !important;
    background-color: transparent;
    background-blend-mode: normal;
    color: #fff !important;
    border-radius: 3;
  }
  
  option {
    background-color: #1f8df4 !important;
    color: #fff;
    color: #495057;  // gris oscuro para la letra, y el fondo blanco.
  }
*/