# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
phpscripts/database.php
phpscripts/database.php
phpscripts/database.php
public/logotipo-nearsol.jpg
public/logotipo-nearsol.png
public/Nearsol_Callcenter.jpg
public/Nearsol_customer_service.jpg
public/Nearsol_Family.jpg
public/Nearsol_group.jpg
public/Nearsol_Guatemala.jpg
public/Nearsol_Guatemala2.jpg
public/Nearsol_International.jpg
public/Nearsol_reforma.jpg
public/Nearsol_Tower.jpg
src/app/maquetacion/public/logotipo-nearsol.jpg
src/app/maquetacion/public/logotipo-nearsol.png
src/app/maquetacion/public/Nearsol_Callcenter.jpg
src/app/maquetacion/public/Nearsol_customer_service.jpg
src/app/maquetacion/public/Nearsol_Family.jpg
src/app/maquetacion/public/Nearsol_group.jpg
src/app/maquetacion/public/Nearsol_Guatemala.jpg
src/app/maquetacion/public/Nearsol_Guatemala2.jpg
src/app/maquetacion/public/Nearsol_International.jpg
src/app/maquetacion/public/Nearsol_reforma.jpg
src/app/maquetacion/public/Nearsol_Tower.jpg
phpscripts/database.php
tsconfig.json
package.json
package-lock.json
