<div class="col-md-12 row">
    <div class="col-md-2">
        <div class="row p-2" style='margin-top:10px'>
            <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient(selectedClient)">
                <option *ngFor="let client of clients" [value]="client.idclients">{{client.name}}</option>
            </select>
        </div>
        <div class="row p-2">
            <div class="list-group w-100" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                    [tabindex]="acc.idaccounts" [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                    style="cursor: pointer;" (click)="setAccount(acc)">{{acc.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="margin-top:20px">
        <div class="row d-flex justify-content-end">
            <button class="btn btn-outline-info" style="margin-right:15px" data-target="#rosterTypes"
                data-toggle="modal"><i class="far fa-clock"></i></button>
            <button class="btn btn-outline-warning" style="margin-right:15px"><i
                    class="fas fa-check-double"></i></button>
            <button class="btn btn-outline-secondary" style="margin-right:15px"><i class="fas fa-filter"></i></button>
            <button class="btn btn-outline-success" style="margin-right:15px"><i class="far fa-save"></i></button>
        </div>
        <div class="row" style="margin-top:20px">
            <table class="table table-hover table-light ">
                <thead>
                    <th>NEARSOL ID</th>
                    <th>CLIENT ID</th>
                    <th>NAME</th>
                    <th *ngFor="let d of period_days">{{d}}</th>
                </thead>
            </table>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------- ROSTER TYPES MODAL --------------------------------------------------------------------->
<div class="modal fade" id="rosterTypes" tabindex="-1" role="dialog" aria-labelledby="uploadBonuseslLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="uploadBonusesLabel">ROSTERS</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-md-12">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <select class="form-control" (change)="getRosters_templates($event.target.value)">
                                    <option *ngFor="let tag of roster_tags">{{tag}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" (change)="setRosterType($event.target.value)">
                                    <option *ngFor="let roster of selected_types" value="{{roster.idroster_types}}">
                                        {{roster.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-12" style="margin-top:25px">
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <span class="long">Monday</span>
                                        </th>
                                        <th>
                                            <span class="long">Tuesday</span>
                                        </th>
                                        <th>
                                            <span class="long">Wendsday</span>
                                        </th>
                                        <th>
                                            <span class="long">Thursday</span>
                                        </th>
                                        <th>
                                            <span class="long">Friday</span>
                                        </th>
                                        <th>
                                            <span class="long">Saturday</span>
                                        </th>
                                        <th>
                                            <span class="long">Sunday</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>START</span>
                                        </td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(1)}"
                                            (dblclick)="change(selectedType.id_time_mon)">{{selectedType.mon_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(2)}"
                                            (dblclick)="change(selectedType.id_time_tue)">{{selectedType.tue_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(3)}"
                                            (dblclick)="change(selectedType.id_time_wed)">{{selectedType.wed_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(4)}"
                                            (dblclick)="change(selectedType.id_time_thur)">{{selectedType.thur_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(5)}"
                                            (dblclick)="change(selectedType.id_time_fri)">{{selectedType.fri_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(6)}"
                                            (dblclick)="change(selectedType.id_time_sat)">{{selectedType.sat_start}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(7)}"
                                            (dblclick)="change(selectedType.id_time_sun)">{{selectedType.sun_start}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>END</span>
                                        </td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(8)}"
                                            (dblclick)="change(selectedType.id_time_mon)">{{selectedType.mon_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(9)}"
                                            (dblclick)="change(selectedType.id_time_tue)">{{selectedType.tue_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(10)}"
                                            (dblclick)="change(selectedType.id_time_wed)">{{selectedType.wed_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(11)}"
                                            (dblclick)="change(selectedType.id_time_thur)">{{selectedType.thur_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(12)}"
                                            (dblclick)="change(selectedType.id_time_fri)">{{selectedType.fri_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(13)}"
                                            (dblclick)="change(selectedType.id_time_sat)">{{selectedType.sat_end}}</td>
                                        <td class="selectable td_hover" [ngClass]="{'td_updated': needUpdate(14)}"
                                            (dblclick)="change(selectedType.id_time_sun)">{{selectedType.sun_end}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" *ngIf="editingRosterTemplate">
                            <div class="col-md-4">
                                <label>ID:</label>
                                <select class="form-control" size="4" (change)="setSchedule_type($event.target.value)">
                                    <option *ngFor="let schedule_type of schedule_types" [ngClass]="{'optActive':selectedSchedule.idroster_times == schedule_type.idroster_times}">
                                        {{schedule_type.idroster_times}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Start:</label>
                                        <input class="form-control" [(ngModel)]="selectedSchedule.start">
                                    </div>
                                    <div class="col-md-12">
                                        <label>End:</label>
                                        <input class="form-control" [(ngModel)]="selectedSchedule.end">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between mt-2">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CANCE</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">SAVE</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">ADD</button>
            </div>
        </div>
    </div>
</div>