<div class="col-md-12 row">
    <div class="col-md-2">
        <div class="row p-2" style='margin-top:10px'>
            <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient(selectedClient)">
                <option *ngFor="let client of clients" [value]="client.idclients">{{client.name}}</option>
            </select>
        </div>
        <div class="row p-2">
            <div class="list-group w-100" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                    [tabindex]="acc.idaccounts" [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                    style="cursor: pointer;" (click)="setAccount(acc)">{{acc.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="margin-top:20px">
        <div class="row d-flex justify-content-end">
            <button class="btn btn-outline-info" style="margin-right:15px" data-target="#rosterTypes"
                data-toggle="modal"><i class="far fa-clock"></i></button>
            <button class="btn btn-outline-warning" style="margin-right:15px"><i
                    class="fas fa-check-double"></i></button>
            <button class="btn btn-outline-secondary" style="margin-right:15px"><i class="fas fa-filter"></i></button>
            <button class="btn btn-outline-success" style="margin-right:15px"><i class="far fa-save"></i></button>
        </div>
        <div class="row" style="margin-top:20px">
            <table class="table table-hover table-light">
                <thead>
                    <th>NEARSOL ID</th>
                    <th>CLIENT ID</th>
                    <th>NAME</th>
                    <th *ngFor="let d of period_days">{{d}}</th>
                </thead>
            </table>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------- ROSTER TYPES MODAL --------------------------------------------------------------------->
<div class="modal fade" id="rosterTypes" tabindex="-1" role="dialog" aria-labelledby="uploadBonuseslLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="uploadBonusesLabel">ROSTERS</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" (change)="getRosters_templates($event.target.value)">
                                    <option *ngFor="let tag of roster_tags">{{tag}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option *ngFor="let tag of roster_tags">{{roster_tags.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                    (click)="applyFilter()">APPLY</button>
            </div>
        </div>
    </div>
</div>