<div style="margin-top:50px">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Filter:</label>
            <select class="form-control" [(ngModel)]="filter">
                <option Value="name">Name:</option>
                <option Value="dpi">DPI:</option>
                <option Value="client_id">Client ID:</option>
                <option Value="nearsol_id">Nearsol ID:</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Search:</label>
            <input type="text" class="form-control" [(ngModel)]="value">
        </div>
        <div class="form-group col-md-1; text-align:left">
            <i class="fas fa-search" aria-hidden="true" style="margin-top:255%" (click)="searchEmployee()"></i>
        </div>
        <div class="form-group col-md-1; text-align:left">
            <i class="fas fa-minus-circle" style="margin-top:250%" (click)="cancelSearch()"></i>
        </div>
    </div>
    <div class="form-row col-md-12" *ngIf="!searching">
        <table style="width: 100%; margin-top:20px">
            <tr>
                <td
                    style="padding:6px; background-color:rgb(227, 239, 255); border-style:solid; border-width: 1px; border-color:rgb(173, 199, 255)">
                    New Employees</td>
            </tr>
            <tr>
                <td
                    style="padding:15px; background-color:rgb(239, 246, 255);border-color:rgb(187, 208, 255);border-style: solid; border-width: 1px">
                    <table style="width:100%;margin-top:10px" *ngFor="let wave of waves">
                        <tr>
                            <td
                                style="padding:6px; background-color:rgb(227, 239, 255); border-style:solid; border-width: 1px; border-color:rgb(173, 199, 255);cursor:auto">
                                <div class="form-group col-md-12">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Account:</label>
                                            <input [(ngModel)]="wave.account_name" class="form-control"
                                                [disabled]="true" type="text">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Name:</label>
                                            <input [(ngModel)]="wave.name" class="form-control" [disabled]="true"
                                                type="text">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Prefix:</label>
                                            <input [(ngModel)]="wave.prefix" class="form-control" [disabled]="true"
                                                type="text">
                                        </div>
                                        <div class="form-group col-md-2" *ngIf="wave.show === '1'">
                                            <label>Status</label>
                                            <select class="form-control" [(ngModel)]="wave.state" (changue)="setWave(wave)">
                                                <option value="0">PENDING</option>
                                                <option value="1">COMPLETED</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <i class="fas fa-angle-double-down" (click)="getSchedules(wave)"
                                                style="padding-left:33%; margin-top:32%; cursor: pointer;"
                                                *ngIf="wave.show === '0'"></i>
                                                <i class="fas fa-angle-double-up" (click)="hideSchedules()"
                                                style="padding-left:33%; margin-top:32%; cursor: pointer;"
                                                *ngIf="wave.show === '1'"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="wave.show === '1'"
                            style="background:#eff6ff; border-color:#bbd0ff; border-style:solid; border-width:1px;">
                            <td>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <th>NEARSOL ID</th>
                                        <th>NAME</th>
                                        <th>STATUS</th>
                                        <th>CLIENT ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let hire of hires">
                                            <td>{{hire.nearsol_id}}</td>
                                            <td>{{hire.first_name}} {{hrie.second_name}} {{hire.first_lastname}} {{hire.second_lastname}}</td>
                                            <td>{{hire.status}}</td>
                                            <td><input type="text" *ngIf="editWave" [disabled]="hire.status == 'EMPLOYEE'" [(ngModel)]="hire.client_id"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
