<form ng-submit="authUser()">
    <div class="container" style="margin-top:120px">
        <div class="card card-login mx-auto text-center bg-light">
            <div class="card-header mx-auto bg-light">
                <span> <img src="http://172.18.2.45/assets/Nearsol.png" class="w-75" alt="Logo"> </span><br />

            </div>
            <div class="card-body">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="email" class="form-control" [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="usr.username">
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="usr.password">
                </div>
                <h5 class="card-tittle" style="color: red" *ngIf=wrongAuth>Error loginning</h5>
                <p class="card-text" style="color: red" *ngIf=wrongAuth>Wrong Username or Password</p>
                <h5 class="card-tittle" style="color: red" *ngIf=inactiveAcc>Error getting data</h5>
                <p class="card-text" style="color: red" *ngIf=inactiveAcc>Your account is inactive</p>

                <div class="form-group">
                    <input type="submit" (click)="authUser()" class="btn btn-outline-danger float-right login-btn"
                        value="Login">
                </div>

            </div>
        </div>
    </div>
</form>