<div class="col-md-12 row">
    <div class="col-md-2">
        <div class="row" style="margin-top:25px">
            <div class="d-flex justify-content-between mb-3 w-100">
                <div class="p-2">
                    <button class="btn btn-outline-danger" [disabled]="actualPeriod.status == '3'"><i
                            class="fas fa-ban"></i></button>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-warning" [disabled]="actualPeriod.status == '1'"><i
                            class="far fa-calendar-check"></i></button>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-success" [disabled]="actualPeriod.status == '3'"><i
                            class="fas fa-check"></i></button>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient(selectedClient)">
                <option *ngFor="let client of clients" [value]="client.idclients">{{client.name}}</option>
            </select>
        </div>
        <div class="row p-2">
            <div class="list-group w-100" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                    [tabindex]="acc.idaccounts" [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                    style="cursor: pointer;">{{acc.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row col-md-12" style="margin-top:25px">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>YEAR:</label>
                <select class="form-control" (change)="setYear()" [(ngModel)]="selectedYear">
                    <option *ngFor="let year of years">{{year}}</option>
                </select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>PERIOD:</label>
                <select class="form-control" [(ngModel)]="selectedPeriod" (change)="setPeriod($event.target.value)">
                    <option *ngFor="let period of periods" [value]="period.idperiods">{{period.start}} TO {{period.end}}</option>
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row col-md-12" *ngIf="actualPeriod.status === '1'">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>NEARSOL ID</th>
                    <th>CLIENT ID</th>
                    <th>ACCOUNT</th>
                    <th>NAME</th>
                    <th>DISCOUNTED DAYS</th>
                    <th>HOURS</th>
                    <th>SEVENTH</th>
                    <th>OT</th>
                    <th>HOLIDAYS</th>
                </thead>
                <tr *ngFor="let pay of payments">
                    <td>{{pay.idpayments}}</td>
                    <td>{{pay.nearsol_id}}</td>
                    <td>{{pay.client_id}}</td>
                    <td>{{pay.account}}</td>
                    <td>{{pay.employee_name}}</td>
                    <td>{{pay.days}}</td>
                    <td>{{pay.hours}}</td>
                    <td>{{pay.seventh}}</td>
                    <td>{{pay.ot}}</td>
                    <td>{{pay.holidays}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>