<div class="col-md-12 row">
    <div class="col-md-2">
        <div class="row" style="margin-top:25px">
            <div class="d-flex justify-content-between mb-3 w-100">
                <div class="p-2">
                    <button class="btn btn-outline-danger" [disabled]="actualPeriod.status != '3'"
                        title="Import Closing Exceptions" data-toggle="modal" data-target="#import_modal"><i
                            class="fas fa-cloud-upload-alt"></i></button>
                </div>
                <div class="p-2" *ngIf="actualPeriod.status != '3'">
                    <button class="btn btn-outline-warning" data-toggle="modal" data-target="#alert_modal"
                        tittle="Close Period"><i class="far fa-save"></i></button>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#search_modal"
                        tittle="Search"><i class="fas fa-search"></i></button>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-success" title="Downlaod Payroll Values"
                        (click)="exportPayroll_values()"><i class="fas fa-file-export"></i></button>
                </div>
                <div class="p-2">
                    <button class="btn btn-outline-secondary" title="Upload Bonus/Adjustments" data-toggle="modal"
                        data-target="#uploadBonuses" *ngIf="!working && !saving"><i
                            class="fas fa-file-upload"></i></button>
                    <button class="btn btn-outline-success" [disabled]="actualPeriod.status == '3'" title="Save upload"
                        (click)="saveImport()" *ngIf="working && !saving"><i class="fas fa-check"></i></button>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient(selectedClient)">
                <option *ngFor="let client of clients" [value]="client.idclients">{{client.name}}</option>
            </select>
        </div>
        <div class="row p-2">
            <div class="list-group w-100" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                    [tabindex]="acc.idaccounts" [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                    style="cursor: pointer;" (click)="setAccount(acc)">{{acc.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row col-md-12" *ngIf="isLoading">
            <div class="d-flex justify-content-center col-md-12">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </div>
        <div class="progress" style="margin-top:50px" *ngIf="!finished && !isLoading">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [style.width]="progress + '%'" [attr.aria-valuenow]="progress" aria-valuemin="0"
                [attr.aria-valuemax]="max_progress">{{step}}</div>
        </div>
        <div class="row col-md-12" *ngIf="!isLoading && finished">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>YEAR:</label>
                <select class="form-control" (change)="setYear()" [(ngModel)]="selectedYear">
                    <option *ngFor="let year of years">{{year}}</option>
                </select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>PERIOD:</label>
                <select class="form-control" [(ngModel)]="selectedPeriod" (change)="setPeriod($event.target.value)">
                    <option *ngFor="let period of periods" [value]="period.idperiods">{{period.start}} TO {{period.end}}
                    </option>
                </select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <label>DEADLINE</label>
                <div class="d-flex justify-content-between">
                    <input type="text" class="form-control" [(ngModel)]="deadline_date" (mouseenter)="disableDate()"
                        (mouseleave)="enableDate()" *ngIf="!disable_date">
                    <input type="date" class="form-control" (change)="changeDeadlineDate($event.target.value)"
                        *ngIf="disable_date">
                    <input type="text" class="form-control" [(ngModel)]="deadline_time" (mouseenter)="disableTime()"
                        (mouseleave)="enableTime()" *ngIf="!disable_time">
                    <input type="time" class="form-control" (change)="changeDeadlineTime($event.target.value)"
                        *ngIf="disable_time">
                    <button class="form-control btn btn-outline-success" (click)="setPayments()"><i
                            class="fas fa-sync"></i></button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:25px">
            <div class="col-md-12">
                <nav width=100% style="border-top: 4px solid #e3f2fd;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist" width=100% style="padding-top:15px">
                        <a class="nav-item nav-link active" id="nav-payroll-tab" data-toggle="tab" href="#nav-payroll"
                            role="tab" aria-controls="nav-payroll" aria-selected="true" *ngIf="!working">Payroll
                            Values <i class="fas fa-filter" data-toggle="modal" data-target="#filterModal"></i></a>
                        <a class="nav-item nav-link" id="nav-resume-tab" data-toggle="tab" href="#nav-resume" role="tab"
                            aria-controls="nav-resume" aria-selected="true" *ngIf="!working">Resume</a>
                        <a class="nav-item nav-link" id="nav-excep-tab" data-toggle="tab" href="#nav-excep" role="tab"
                            aria-controls="nav-excep" aria-selected="true" *ngIf="!working">Closing Exceptions</a>
                        <a class="nav-item nav-link active" id="nav-bonuses-tab" data-toggle="tab" href="#nav-bonuses"
                            role="tab" aria-controls="nav-bonuses" aria-selected="true"
                            *ngIf="working">{{import_type}}</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent" style="margin-top:10px">
                    <div class="tab-pane fade show active" id="nav-payroll" role="tabpanel"
                        aria-labelledby="nav-payroll-tab" *ngIf="!working">
                        <table class="table table-striped" #userTable>
                            <tr class="title">
                                <td>NEARSOL ID</td>
                                <td>CLIENT ID</td>
                                <td>NAME</td>
                                <td>ACCOUNT</td>
                                <td>DISCOUNTED DAYS</td>
                                <td>HOURS</td>
                                <td>SEVENTH</td>
                                <td>OT</td>
                                <td>HOLIDAYS</td>
                                <td>NEARSOL BONUS</td>
                                <td>CLIENT BONUS</td>
                                <td>TREASURE HUNT</td>
                                <td>ADJUSTED TIME</td>
                                <td>ADJUSTED OT</td>
                                <td>ADJUSTED HOLIDAY</td>
                                <td>STATUS</td>
                            </tr>
                            <tbody>
                                <tr *ngIf="printing">
                                    <td>NEARSOL ID</td>
                                    <td>CLIENT ID</td>
                                    <td>NAME</td>
                                    <td>ACCOUNT</td>
                                    <td>DISCOUNTED DAYS</td>
                                    <td>HOURS</td>
                                    <td>SEVENTH</td>
                                    <td>OT</td>
                                    <td>HOLIDAYS</td>
                                    <td>NEARSOL BONUS</td>
                                    <td>CLIENT BONUS</td>
                                    <td>TREASURE HUNT</td>
                                    <td>ADJUTED TIME</td>
                                    <td>ADJUTED OT</td>
                                    <td>ADJUTED HOLIDAY</td>
                                    <td>STATUS</td>
                                </tr>
                                <tr *ngFor="let pay of payroll_values" (click)="setAttendance(pay)" data-toggle="modal"
                                    data-target="#attendance_detail">
                                    <td>{{pay.nearsol_id}}</td>
                                    <td>{{pay.client_id}}</td>
                                    <td>{{pay.agent_name}}</td>
                                    <td>{{pay.account_name}}</td>
                                    <td>{{pay.discounted_days}}</td>
                                    <td>{{pay.discounted_hours}}</td>
                                    <td>{{pay.seventh}}</td>
                                    <td>{{pay.ot_hours}}</td>
                                    <td>{{pay.holidays_hours}}</td>
                                    <td>{{pay.nearsol_bonus}}</td>
                                    <td>{{pay.performance_bonus}}</td>
                                    <td>{{pay.treasure_hunt}}</td>
                                    <td>{{pay.adj_hours}}</td>
                                    <td>{{pay.adj_ot}}</td>
                                    <td>{{pay.adj_holidays}}</td>
                                    <td *ngIf="pay.agent_status == '1'">ACTIVE</td>
                                    <td *ngIf="pay.agent_status == '0'">INACTIVE</td>
                                </tr>
                                <tr *ngIf="payroll_values.length>0">
                                    <td colspan="16">TOTAL EMPLOYEES: {{ payroll_values.length }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade show active" id="nav-bonuses" role="tabpanel"
                        aria-labelledby="nav-bonuses-tab" *ngIf="working">
                        <table class="table table-striped">
                            <thead>
                                <th>NEARSOL ID</th>
                                <th>NAME</th>
                                <th
                                    *ngIf="import_type == 'NEARSOL BONUS' || import_type == 'CLIENT BONUS' || import_type == 'TREASURE HUNT'">
                                    BONUS AMOUNT</th>
                                <th
                                    *ngIf="import_type == 'AJUSTES A PERIODOS ANTERIORES HORAS' || import_type == 'AJUSTES A PERIODOS ANTERIORES ASUETOS'|| import_type == 'AJUSTES A PERIODOS ANTERIORES OT'">
                                    ADJUSTMENTS</th>
                                <th *ngIf="fullImport">TYPE</th>
                                <th *ngIf="fullImport">AMOUNT</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c  of credits">
                                    <td>{{c.iddebits}}</td>
                                    <td>{{c.notes}}</td>
                                    <td *ngIf="fullImport">{{c.amount}}</td>
                                    <td *ngIf="!fullImport">{{c.type}}</td>
                                    <td *ngIf="!fullImport">{{c.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade " id="nav-adj" role="tabpanel" aria-labelledby="nav-adj-tab"
                        *ngIf="!working">

                    </div>
                    <div class="tab-pane fade " id="nav-resume" role="tabpanel" aria-labelledby="nav-resume-tab"
                        *ngIf="!working">
                        <table class="table table-striped">
                            <thead>
                                <th>NEARSOL ID</th>
                                <th>CLIENT ID</th>
                                <th>NAME</th>
                                <th>VACATIONS</th>
                                <th>JANP</th>
                                <th>JAP</th>
                                <th>IGSS</th>
                                <th>IGSS Hrs.</th>
                                <th>INSURANCE</th>
                                <th>OTHER Hrs.</th>
                                <th>NON SHOW</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of resumes">
                                    <td>{{r.nearsol_id}}</td>
                                    <td>{{r.client_id}}</td>
                                    <td>{{r.name}}</td>
                                    <td>{{r.vacations}}</td>
                                    <td>{{r.janp}}</td>
                                    <td>{{r.jap}}</td>
                                    <td>{{r.igss}}</td>
                                    <td>{{r.igss_hrs}}</td>
                                    <td>{{r.insurance}}</td>
                                    <td>{{r.other_hrs}}</td>
                                    <td>{{r.ns}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-excep" role="tabpanel" aria-labelledby="nav-excep-tab"
                        *ngIf="!working">
                        <table class="table table-striped">
                            <thead>
                                <th>NEARSOL ID</th>
                                <th>NAME</th>
                                <th>NOTES</th>
                                <th>AMOUNT</th>
                                <th>RESULT</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let adjust of adjustments">
                                    <td>{{adjust.nearsol_id}}</td>
                                    <td>{{adjust.name}}</td>
                                    <td>{{adjust.notes}}</td>
                                    <td>{{adjust.amount}}</td>
                                    <td>{{adjust.error}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------IMPORT MODAL--------------------------------------------------------------->
    <div class="modal fade" id="import_modal" tabindex="-1" role="dialog" aria-labelledby="search_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="search_modalLabel">IMPORT CLOSING EXCEPTIONS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-body d-flex justify-content-between">
                        <div class="p-2">
                            <label>File:</label>
                        </div>
                        <div class="p-2">
                            <input type="file" class="form-control" (change)="setFile($event)">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-right mt-2">
                    <button class="btn btn-outline-secondary" type="button" disabled *ngIf="waitForfinish">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" *ngIf="!waitForfinish"
                        #closeModalButton id="closeModalButton">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------SEARCH MODAL--------------------------------------------------------------->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="search_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="search_modalLabel">SEARCH</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-body d-flex justify-content-between">
                        <div class="p-2 form-group">
                            <label>Filter:</label>
                            <select class="form-control" [(ngModel)]="searchFilter">
                                <option value="name">Name:</option>
                                <option value="client_id">Client ID:</option>
                                <option value="nearsol_id">Nearsol ID:</option>
                            </select>
                        </div>
                        <div class="p-2 form-group">
                            <label>Value:</label>
                            <input class="form-control" [(ngModel)]="searchValue">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between mt-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                        (click)="searchNow()">ACCEPCT</button>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------ALERT MODAL---------------------------------------------------------------->
    <div class="modal fade" id="alert_modal" tabindex="-1" role="dialog" aria-labelledby="alert_modallLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert_modalLabel">FREEZE PERIOD</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-body d-flex justify-content-center">
                        <div class="p-2">
                            <p>This action will freeze the selected period from</p>
                            <p>for all clients are you sure to proceed?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between mt-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                        (click)="saveClosing()">ACCEPCT</button>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------IMPORT ADJ/BONUSES MODAL---------------------------------------------------------------->
    <div class="modal fade" id="uploadBonuses" tabindex="-1" role="dialog" aria-labelledby="uploadBonuseslLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadBonusesLabel">UPLOAD FILE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-5">
                        <label>TYPE:</label>
                        <select class="form-control" [(ngModel)]="import_type" [disabled]="fullImport">
                            <option>NEARSOL BONUS</option>
                            <option>CLIENT BONUS</option>
                            <option>TREASURE HUNT</option>
                            <option>AJUSTES A PERIODOS ANTERIORES HORAS</option>
                            <option>AJUSTES A PERIODOS ANTERIORES OT</option>
                            <option>AJUSTES A PERIODOS ANTERIORES ASUETOS</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Full</label>
                        <div class="jsutify-content-center d-flex">
                            <input type='checkbox' [checked]="fullImport" class="form-control" (change)="setFull()"
                                [disabled]="import_type == 'NEARSOL BONUS'
                        || import_type == 'CLIENT BONUS' || import_type == 'AJUSTES A PERIODOS ANTERIORES HORAS' || import_type == 'AJUSTES A PERIODOS ANTERIORES OT'
                        || import_type == 'AJUSTES A PERIODOS ANTERIORES ASUETOS'"
                                style="width: 25px;height: 25px;margin-top: 5px;">
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label>FILE:</label>
                        <input type="file" (change)="addfile_bonus($event)" class="form-control">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-outline-secondary" *ngIf="!completed && !working"
                        data-dismiss="modal">CLOSE</button>
                    <button class="btn btn-outline-secondary" type="button" disabled *ngIf="!completed && working">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------DETAILS MODAL-------------------------------------------------------------->
    <div class="modal fade" id="attendance_detail" tabindex="-1" role="dialog" aria-labelledby="eattendance_detailLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attendance_detailLabel">{{selected_payroll_value.agent_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-body d-flex justify-content-center">
                        <div class="p-2">
                            <table style="width: 100%;" class="table table-hover">
                                <thead class="thead-dark">
                                    <th>DATE</th>
                                    <th>SCHEDULED</th>
                                    <th>WORKED</th>
                                    <th>BALANCE</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let at of show_attendances table-hover"
                                        [ngClass]="{'table-danger':(at.balance === 'JANP' || at.balance === 'NS' || at.balance === 'LOA'), 'table-success':at.balance > 0,
                         'table-info':(at.balance === 'OFF' || at.balance === 'VAC' || at.balance === 'JAP'), 
                         'table-light':at.balance === '0', 'table-warning':at.balance < 0, 'table-secondary':at.balance === 'TERM' || at.balance === 'TRANSFER'}">
                                        <td>{{at.date}}</td>
                                        <td>{{at.scheduled}}</td>
                                        <td>{{at.worked_time}}</td>
                                        <td>{{at.balance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <label>TOTAL +/-:</label>
                        <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.discounted_hours"
                            *ngIf="selected_payroll_value.hrs <= 0" [disabled]="true">
                        <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.ot_hours"
                            *ngIf="selected_payroll_value.hrs > 0" [disabled]="true">
                    </div>
                    <div class="col-md-3">
                        <label>REGULAR:</label>
                        <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.discounted_days"
                            [disabled]="true">
                    </div>
                    <div class="col-md-3">
                        <label>SEVENTH:</label>
                        <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.seventh"
                            [disabled]="true">
                    </div>
                    <div class="col-md-3">
                        <label>TOTAL:</label>
                        <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.total_days"
                            [disabled]="true">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-right mt-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------- FILTER MODAL ------------------------------------------------>
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="uploadBonuseslLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="uploadBonusesLabel">FILTER</h5>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <label class="list-group-item hover_item" *ngFor="let filter of filterList; index as i"
                        style="padding:0px; cursor:pointer;" [ngClass]="{'activeFilter':verifyExist(filter)}">
                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-check-input me-1" type="checkbox"
                                    style="margin-left:15px;cursor:pointer;" value="{{filter}}"
                                    (change)="togleFilter(filter)">
                                <label style="margin-left:40px;cursor:pointer;font-size: 12px;">{{filter}}</label>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" *ngIf="verifyExist(filter)"
                                    style="padding:0px;max-height:25px;margin-top:5px;margin-bottom:5px;font-size:13px"
                                    [(ngModel)]="filterLogic[i]">
                                    <option>OR</option>
                                    <option>AND</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" *ngIf="verifyExist(filter)"
                                    style="padding:0px;max-height:25px;margin-top:5px;margin-bottom:5px;font-size:13px"
                                    [(ngModel)]="filterCompare[i]">
                                    <option>=</option>
                                    <option>></option>
                                    <option><</option>
                                    <option>>=</option>
                                    <option><=</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" *ngIf="verifyExist(filter)"
                                    [(ngModel)]="filterValue[i]"
                                    style="margin-top:5px; margin-bottom:5px;margin-left:-5px;max-height:25px">
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                    (click)="applyFilter()">APPLY</button>
            </div>
        </div>
    </div>
</div>