.active{
    background-color: #003b71;
    border: #003b71 solid 2px;
    font-weight: bold;
}

tr {
    height: 10px;
    text-align: center;
}

tr .selectable{
    cursor: pointer;
    text-align: center;
}

thead{
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(245, 244, 244);
    font-style: normal;
    border-color: rgb(235, 234, 234);
    border-style: solid;
    border-width: 1.5px;
    text-align: center;
}
thead th{
    border-right-style: solid;
    padding: 0.50rem;
    border-width: 1px;
    border-right-color: rgb(233, 232, 232);
    text-align: center;
}
tbody td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.50rem;
    border-right-style: solid;
    line-height: 0.60;
    border-width: 1px;
    border-right-color: rgb(233, 232, 232);
    text-align: center;
}
tbody tr{
    font-size:12px;
    text-align: center;
}

.blue_hover:hover{
    color:white;
    border-color: white;
    background-color: #003b71;
}

.orange_hover:hover{
    color:white;
    border-color: white;
    background-color: #fa4238;
}

.blue_hover{
    color:#003b71;
    border-color:#003b71;
    background-color: white; 
}

.orange_hover{
    color:#fa4238;
    border-color:#fa4238;
    background-color: white;   
}

.green_hover{
    color:white;
    border-color: white;
    background-color: green;
}

.green_hover:hover{
    color:green;
    border-color:green;
    background-color: white; 
}

.yellow_hover{
    color:white;
    border-color:white;
    background-color: yellow; 
}

.yellow_hover:hover{
    color:yellow;
    border-color:yellow;
    background-color: white; 
}