<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#003b71">
  <a class="navbar-brand" href="#">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40"
      class="d-inline-block align-top" alt="" style="margin-left: 30px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="no_background">
        <div style="width: 80px">

        </div>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/rehome" style="color: white" [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '4'" class="nav-link" routerLink="/achome" style="color: white" [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '5'" class="nav-link" routerLink="/hrhome" style="color: white" [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
      </li>
      <li class="nav-item dropdown" *ngIf="getAuth()">
        <a *ngIf="getSaved().department == '4'" style="color: white" class="nav-link dropdown-toggle" routerLink="/attImport" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          IMPORT
        </a>
        <a *ngIf="getSaved().department == '5'" class="nav-link" routerLink="/hrdaily" style="color: white"  [ngClass]="{'act':selectedOption=='HRDAILY'}" (click)="SetSel('HRDAILY')">EXEPTIONS</a>
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/realtime" style="color: white"  [ngClass]="{'act':selectedOption=='REAL'}" (click)="SetSel('REAL')">REAL TIME</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Payroll</a>
        </div>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/dilyconvergent" style="color: white"  [ngClass]="{'act':selectedOption=='DAILY'}" (click)="SetSel('DAILY')">DAILY CONVERGENT</a>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/classlist" style="color: white" [ngClass]="{'act':selectedOption=='CLASS'}" (click)="SetSel('CLASS')">CLASS LIST</a>
      </li>
    </ul>
    <form class="form-inline" *ngIf="getAuth()">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{getSaved().user_name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Log Out</a>
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" *ngIf="getSaved().department == '5'"><input type="file" class="form-control" placeholder="Update Signature" (change)="onChange($event)"></a>
          </div>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>