<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#003b71">
  <a class="navbar-brand" *ngIf="!getAuth()">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px">
  </a>
  <a class="navbar-brand" *ngIf="getAuth()">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px" routerLink="/rehome" *ngIf="getSaved().department == '2'" (click)="SetSel('HOME')">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px" routerLink="/achome" *ngIf="getSaved().department == '4'" (click)="SetSel('HOME')">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px" routerLink="/pyhome" *ngIf="getSaved().department == '28'" (click)="SetSel('HOME')">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px" routerLink="/fhome" *ngIf="getSaved().department == '29'" (click)="SetSel('HOME')">
    <img src="http://200.94.251.67/assets/header_logo.png" width="200" height="40" class="d-inline-block align-top"
      alt="" style="margin-left: 30px" routerLink="/hrhome"
      *ngIf="getSaved().department == '5' || getSaved().department == '27'">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="no_background">
        <div style="width: 80px">

        </div>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/rehome" style="color: white"
          [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '4'" class="nav-link" routerLink="/achome" style="color: white"
          [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '28'" class="nav-link" routerLink="/pyhome" style="color: white"
          [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '29'" class="nav-link" routerLink="/fhome" style="color: white"
          [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
        <a *ngIf="getSaved().department == '5' || getSaved().department == '27'" class="nav-link" routerLink="/hrhome"
          style="color: white" [ngClass]="{'act':selectedOption=='HOME'}" (click)="SetSel('HOME')">HOME</a>
      </li>
      <li class="nav-item dropdown" *ngIf="getAuth()">
        <a [ngClass]="{'act':selectedOption=='IMP'}" *ngIf="getSaved().department == '28'"
          style="color: white;cursor:pointer" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          IMPORT
        </a>
        <a *ngIf="getSaved().department == '5' || getSaved().department == '27'" class="nav-link" routerLink="/hrdaily"
          style="color: white" [ngClass]="{'act':selectedOption=='HRDAILY'}" (click)="SetSel('HRDAILY')">EXCEPTIONS</a>
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/realtime"
          style="color: white; cursor:pointer" [ngClass]="{'act':selectedOption=='REAL'}" (click)="SetSel('REAL')">REAL
          TIME</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/attImport" (click)="SetSel('IMP')">Attendance</a>
          <a class="dropdown-item" routerLink="/supExceptions" (click)="SetSel('IMP')">Sup. Exceptions</a>
        </div>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/dilyconvergent" style="color: white"
          [ngClass]="{'act':selectedOption=='DAILY'}" (click)="SetSel('DAILY')">DAILY CONVERGENT</a>
        <a *ngIf="getSaved().department == '5' || getSaved().department == '27'" class="nav-link"
          routerLink="/attritionReport" style="color: white" [ngClass]="{'act':selectedOption=='ATTREP'}"
          (click)="SetSel('ATTREP')">ATTRITION REPORT</a>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '2'" class="nav-link" routerLink="/classlist" style="color: white"
          [ngClass]="{'act':selectedOption=='CLASS'}" (click)="SetSel('CLASS')">CLASS LIST</a>
        <a *ngIf="getSaved().department == '5' || getSaved().department == '27'" class="nav-link"
          routerLink="/activeReport" style="color: white" [ngClass]="{'act':selectedOption=='ACTVR'}"
          (click)="SetSel('ACTVR')">ACTIVE AGENTS REPORT</a>
      </li>
      <li *ngIf="getAuth()" class="nav-item active">
        <a *ngIf="getSaved().department == '5' || getSaved().department == '27'" class="nav-link"
          routerLink="/dpMaintenance" style="color: white" [ngClass]="{'act':selectedOption=='DPM'}"
          (click)="SetSel('DPM')">DP MAINTENANCE</a>
      </li>
    </ul>
    <form class="form-inline" *ngIf="getAuth()">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{getSaved().user_name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Log Out</a>
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" *ngIf="getSaved().department == '5'">Signature<input type="file" class="form-control"
              placeholder="Update Signature" (change)="onChange($event)"></a>
        </div>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>