<div class="form-row col-md-12">
    <div class="form-row">
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-2">
            <button class="form-control" (click)="getActive()">Get Active</button>
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-2">
            <button class="form-control" (click)="getAll()">Get All</button>
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-2">
            <button class="form-control" (click)="setEvaluation()">Evaluate</button>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
    <div class="form-row" *ngIf="!eval">
        <table class="table table-striped table-hover" style="width:100%;">
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>GRADE</th>
                <th>TYPE</th>
                <th>DATE</th>
                <th>STATUS</th>
            </thead>
            <tbody>
                <tr *ngFor="let dp of dps">
                    <td>{{dp.type}}</td>
                    <td>{{dp.name}}</td>
                    <td>{{dp.grade}}</td>
                    <td>{{dp.type}}</td>
                    <td>{{dp.date}}</td>
                    <td>{{dp.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <label style="margin-left:40%; font-weight: bold; font-size:16px;">Actual</label>
            <table class="table table-striped table-hover" style="width:100%;">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>GRADE</th>
                    <th>TYPE</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let dp of dps">
                        <td>{{dp.type}}</td>
                        <td>{{dp.name}}</td>
                        <td>{{dp.grade}}</td>
                        <td>{{dp.type}}</td>
                        <td>{{dp.date}}</td>
                        <td>{{dp.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>