<div style="margin-top:30px">
    <div class="form-row col-md-12">
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-1">
            <button class="form-control" (click)="getActive()">Get Active</button>
        </div>

        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-1">
            <button class="form-control" (click)="getAll()">Get All</button>
        </div>
        <div class="form-group col-md-2"></div>

        <div class="form-group col-md-1">
            <button class="form-control" (click)="setEvaluation()">Evaluate</button>
        </div>
        <div class="form-group col-md-2"></div>

        <div class="from-group col-md-1">
            <button class="form-control">Print</button>
        </div>
        <div class="form-group col-md-1"></div>
    </div>
    <div class="form-row" *ngIf="!eval">
        <table class="table table-striped table-hover" style="width:100%;">
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>GRADE</th>
                <th>TYPE</th>
                <th>DATE</th>
                <th>STATUS</th>
            </thead>
            <tbody>
                <tr *ngFor="let dp of dps">
                    <td>{{dp.type}}</td>
                    <td>{{dp.name}}</td>
                    <td>{{dp.dp_grade}}</td>
                    <td>{{dp.type}}</td>
                    <td>{{dp.imposition_date}}</td>
                    <td>{{dp.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-row col-md-12" *ngIf="eval">
        <label style="margin-left:40%; font-weight: bold; font-size:16px;">Actual</label>
        <div class="form-group col-md-5">
            <div class="form-row">
                <div class="form-group col-md-4"></div>
                <div class="form-group col-md-4">
                    <label>Total:</label>
                    <input class="from-control" [(ngModel)]='dps.length'>
                </div>
                <div class="form-group col-md-4"></div>
            </div>
            <div class="form-row">
            <table class="table table-striped table-hover" style="width:100%;">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>GRADE</th>
                    <th>TYPE</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let dp of dps">
                        <td>{{dp.type}}</td>
                        <td>{{dp.name}}</td>
                        <td>{{dp.dp_grade}}</td>
                        <td>{{dp.type}}</td>
                        <td>{{dp.imposition_date}}</td>
                        <td>{{dp.status}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="form-group col-md-1">
            <div style="height: 100%;width: 6px;border-right: solid 4px #e3f2fd;"></div>
        </div>
        <div class="form-group col-md-5">
            <label style="margin-left:40%; font-weight: bold; font-size:16px;">Changes</label>
            <div class="form-row">
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-3">
                    <label>Active:</label>
                    <input class="form-control" [(ngModel)]="active">
                </div>
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-3">
                    <label>Inactive</label>
                    <input class="form-control" [(ngModel)]="inactive">
                </div>
                <div class="form-group col-md-2"></div>
            </div>
            <div class="form-row">
                <table class="table table-striped table-hover" style="width:100%;">
                    <thead>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>GRADE</th>
                        <th>TYPE</th>
                        <th>DATE</th>
                        <th>DIFFERENCE</th>
                        <th>STATUS</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dp of dps_ch">
                            <td>{{dp.type}}</td>
                            <td>{{dp.name}}</td>
                            <td>{{dp.dp_grade}}</td>
                            <td>{{dp.type}}</td>
                            <td>{{dp.imposition_date}}</td>
                            <td>{{dp.id_department}}</td>
                            <td>{{dp.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>