tr .selectable{
    cursor: pointer;
}


thead{
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(245, 244, 244);
    font-style: normal;
    border-color: rgb(235, 234, 234);
    border-style: solid;
    border-width: 1.5px;
}
thead th{
    border-right-style: solid;
    padding: 0.50rem;
    border-width: 1px;
    border-right-color: rgb(233, 232, 232);
}

i{
    cursor: pointer;
}

select {
    height: 20px;
    margin:0px;
    padding:0px;
}

tr:hover{
    background-color: #003b71;
    color:white;
}

.row_selected{
    background-color: #003b71;
    color:white;
}

td{
    padding:0%;
}

.non_select{
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}