<div class="col-md-12" style="margin-top:25px">
    <div class="row">
        <div class="col-md-3">
                <div class="row h-100" style="padding-left:5px">
                    <div class="col-md-12 h-100" style="border-right: solid 4px #e3f2fd">
                        <div class="row h-100">
                            <div class="col-md-12" style="max-height: 38px;">
                                <select class="form-control" (change)="setClient(selectedClient)"
                                    [(ngModel)]="selectedClient">
                                    <option *ngFor="let cl of clients" [value]="cl.idclients">{{cl.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:45px">
                            <div class="col-md-12">
                                <div class="list-group w-100" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                                        [tabindex]="acc.idaccounts" (click)="setSelection(acc)"
                                        [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                                        style="cursor: pointer;">{{acc.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12" id="nav-tabContent">
                    <div class="tab-pane fade show" [ngClass]="{'active': showAccount}">
                        <table class="table table-hover mw-100">
                            <thead>
                                <th>ID</th>
                                <th>NEARSOL ID</th>
                                <th>CLIENT ID</th>
                                <th>NAME</th>
                                <th>VALUE</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ot of ots">
                                    <td class="text-center">{{ot.id_employee}}</td>
                                    <td class="text-center">{{ot.nearsol_id}}</td>
                                    <td class="text-center">{{ot.id_period}}</td>
                                    <td class="text-center">{{ot.name}}</td>
                                    <td class="text-center">{{ot.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>