<div class="row col-12" style="margin-top:25px; margin-left:1%; width:98%;">
    <div class="row col-3">
        <div class="row col-12">
            <div class="row col-12">
                <select class="form-control" (change)="setClient(selectedClient)" [(ngModel)]="selectedClient">
                    <option *ngFor="let cl of clients" [value]="cl.idclients">{{cl.name}}</option>
                </select>
            </div>
            <div class="row col-12" style="margin-top:15px">
                <div class="list-group w-100" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action w-100" *ngFor="let acc of accounts"
                        [tabindex]="acc.idaccounts" (click)="setSelection(acc)"
                        [ngClass]="{'active': selectedAccount.idaccounts == acc.idaccounts}"
                        style="cursor: pointer;">{{acc.name}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-0">
        <div class="row" style="height:3%;width: 5px;"></div>
        <div class="row" style="height:94%; border-right:4px solid #e3f2fd; width: 5px;"></div>
        <div class="row" style="height:3%; width: 5px;"></div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" [ngClass]="{'active': showAccount}">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>NEARSOL ID</th>
                        <th>CLIENT ID</th>
                        <th>NAME</th>
                        <th>VALUE</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ot of AccOts">
                            <td class="text-center">{{ot.id_employee}}</td>
                            <td class="text-center">{{ot.nearsol_id}}</td>
                            <td class="text-center">{{ot.id_period}}</td>
                            <td class="text-center">{{ot.name}}</td>
                            <td class="text-center">{{ot.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>