thead {
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgb(245, 244, 244);
  font-style: normal;
  border-color: rgb(235, 234, 234);
  border-style: solid;
  border-width: 1.5px;
}
thead th {
  border-right-style: solid;
  padding: 0.5rem;
  border-width: 1px;
  border-right-color: rgb(233, 232, 232);
}
tbody td {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem;
  border-right-style: solid;
  line-height: 0.6;
  border-width: 1px;
  border-right-color: rgb(233, 232, 232);
}
tbody tr {
  font-size: 12px;
}
.form-group {
  margin-bottom: 0;
}
i {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #003b71;
  color: white;
  border-color: #003b71;
}

.list-group-item.active:hover {
  background-color: #003b71;
  color: white;
  border-color: #003b71;
}

.right-border-middle {
  border-right: 4px solid #e3f2fd;
  position: relative;
}

.right-border-middle:after {
  padding: 0;
  margin: 0;
  display: block; /* probably not really needed? */
  content: "";
  height: 15%;
  width: 4.4px;
  background-color: white;
  position: absolute;
  top: 0;
  right: -4px;
}

.right-border-middle:before {
  padding: 0;
  margin: 0;
  display: block; /* probably not really needed? */
  content: "";
  height: 15%;
  width: 4.4px;
  background-color: white;
  position: absolute;
  top: 85%;
  right: -4px;
}

.selectable {
  cursor: pointer;
}

.hover-blue:hover {
  background-color: #003b71;
  color: white;
}

.table_ancho {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.ancho {
  width: 75%;
}

.btn-xs {
  padding: .20rem .20rem;
  font-size: .75rem;
  line-height: 0.50;
  height: 0.50;
  width: 0.50;
  border-radius: .2rem;
}

@media only screen and (min-width: 50px) and (max-width: 800px) {
  body {
    text-rendering: optimizeLegibility;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: nowrap;
  }

  table {
    font-size: x-small;
    white-space: nowrap;
  }

  th {
    font-size: x-small;
    white-space: nowrap;
  }

  td {
    font-size: x-small;
    white-space: nowrap;
  }

  tr {
    font-size: x-small;
    white-space: nowrap;
  }

  tr .selectable {
    font-size: x-small;
    white-space: nowrap;
  }

  .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
