<div class="row col-md-12" style="margin-top: 25px;">
    <div class="row col-md-12">
        <div class="col-md-2">
            <select class="form-control" (change)="setPSelection()" [(ngModel)]="selectedYear"
                style="text-align: center;">
                <option *ngFor="let year of years">{{year}}</option>
            </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9 d-flex flex-row-reverse">
            <div>
                <button class="form-control btn btn-outline-success" (click)="sendMails()" title="Send"><i
                        class="fas fa-share-square"></i></button>
            </div>
            <div style="margin-right:10px">
                <button class="form-control btn btn-outline-info" title="Select All"><i
                        class="fas fa-check-double"></i></button>
            </div>
            <div style="margin-right:10px">
                <button class="form-control btn btn-outline-danger" title="Clear Selection"><i
                        class="fas fa-ban"></i></button>
            </div>
        </div>

        <div class="row col-md-12" style="margin-top: 10px; padding-right:0%">
            <div class="col-md-2">
                <div class="list-group w-100" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action w-100" *ngFor="let period of periods"
                        [tabindex]="period.idperiods" (click)="setSelection(period)"
                        [ngClass]="{'active': selectedPeriod.idperiods == period.idperiods}"
                        style="cursor: pointer; font-weight: bold;text-align: center;">{{period.start}} TO
                        {{period.end}}</a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-9 p-0">
                <table class="table table-stripped table-hover">
                    <thead>
                        <th>NEARSOL ID</th>
                        <th>CLIENT ID</th>
                        <th>NAME</th>
                        <th>ACCOUNT</th>
                        <th>EMAIL</th>
                        <th>RESULT</th>
                        <th>SELECT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pst_view of paystubs" class='selectable' [ngClass]="{'table-secondary':pst_view.ignore}">
                            <td (click)="setpaystubSelected(pst_view)" data-toggle="modal"
                            data-target="#attendance_detail" >{{pst_view.nearsol_id}}</td>
                            <td (click)="setpaystubSelected(pst_view)" data-toggle="modal"
                            data-target="#attendance_detail" >{{pst_view.client_id}}</td>
                            <td (click)="setpaystubSelected(pst_view)" data-toggle="modal"
                            data-target="#attendance_detail" >{{pst_view.employee_name}}</td>
                            <td (click)="setpaystubSelected(pst_view)" data-toggle="modal"
                            data-target="#attendance_detail" >{{pst_view.account}}</td>
                            <td (click)="setpaystubSelected(pst_view)" data-toggle="modal"
                            data-target="#attendance_detail" >{{pst_view.email}}</td>
                            <td>{{pst_view.result}}</td>
                            <td style="text-align: center;"><input type="checkbox" [checked]="pst_view.select" (change)="setStatus(pst_view)" disabled="pst_view.ignore">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------------------- MODAL PAYSTUB ------------------------------------------------------------->
<div class="modal fade" id="attendance_detail" tabindex="-1" role="dialog" aria-labelledby="eattendance_detailLabel">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{selectedPaystub.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <body *ngIf="!selectedPaystub.select">
                <table style='margin-top:25px;width:90%;margin-left:5%;border-collapse: unset; text-align:left'>
                        <tr>
                            <td>{{selectedPaystub.society}}</td>
                            <td style='text-align:right'>NIT: {{selectedPaystub.employeer_nit}}</td>
                        </tr>
                        <tr style='margin-left:2.5%;width:95%'>
                            <td>Jornada: {{selectedPaystub.account}}</td>
                            <td style='text-align:right'>Nomina No.: {{selectedPaystub.idpayments}}</td>
                        </tr>
                        <tr style='margin-left:2.5%;width:95%'>
                            <td>Recibo de Pago de Sueldos y Salarios</td>
                            <td></td>
                        </tr>
                        <tr style='border:solid black 2px; width:100%'>
                            <td colspan='2'>
                                <table style='width:100%;margin-top:2px;border:solid black 2px;border-collapse: unset; text-align:left'>
                                        <tr>
                                            <td>Por el Periodo del {{selectedPaystub.start}}</td>
                                            <td>Al {{selectedPeriod.end}}</td>
                                            <td>FORMA DE PAGO</td>
                                        </tr>
                                        <tr>
                                            <td>Codigo de Empleado {{selectedPaystub.nearsol_id}}</td>
                                            <td>NIT del empleado {{selectedPaystub.nit}}</td>
                                            <td>{{selectedPaystub.type}} {{selectedPaystub.number}}</td>
                                        </tr>
                                        <tr>
                                            <td>No. Afiliacion IGSS {{selectedPaystub.iggs}}</td>
                                            <td>Supervisor: {{selectedPaystub.user_name}}</td>
                                            <td>{{selectedPaystub.bank}}</td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <table style='width:100%;margin-top:0px;border:solid black 2px;border-collapse: unset; text-align:left'>
                                    <tr>
                                        <td>Dias del Periodo:</td>
                                        <td>15</td>
                                        <td>Dias Descontados:</td>
                                        <td>{{selectedPaystub.discounted_days}}</td>
                                        <td>Horas Extraordinarias:</td>
                                        <td>{{selectedPaystub.ot_hours}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Horas Descontadas:</td>
                                        <td>{{selectedPaystub.discounted_hours}}</td>
                                        <td>Horas Asueto:</td>
                                        <td>{{selectedPaystub.holiday_hours}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style='width:100%;margin-top:0px;border:solid black 2px;border-collapse: unset; text-align:left'>
                                    <tr>
                                        <td>Sueldo Ordinario:</td>
                                        <td>{{selectedPaystub.base}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sueldo ExtraOrdinario:</td>
                                        <td>{{selectedPaystub.ot}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sueldo ExtraOrdinario Dias De Asueto:</td>
                                        <td>{{selectedPaystub.holidays}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bonificación Incentivo (Decretos 78-89,7-2000 y 37-2001):</td>
                                        <td>{{selectedPaystub.decreto}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bonificación por Productividad (Decretos 78-89,7-2000 y 37-2001):</td>
                                        <td>{{selectedPaystub.bonificaciones}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bonificación por Eficiencia (Decretos 78-89,7-2000 y 37-2001) Bonos:</td>
                                        <td>{{selectedPaystub.eficiencia}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bonificación por Eficiencia (Decretos 78-89,7-2000 y 37-2001) Ajustes:</td>
                                        <td>{{selectedPaystub.ajustes}}</td>
                                    </tr>
                                    <tr>
                                        <td style='color:white'>.</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table style='width:100%;margin-top:0px;border:solid black 2px;height:100%;border-collapse: unset; text-align:left'>
                                    <tr>
                                        <td>IGSS Laboral:</td>
                                        <td>({{selectedPaystub.igss_amount}})</td>
                                    </tr>
                                    <tr>
                                        <td>Descuentso (Bus/Parqueo):</td>
                                        <td>({{selectedPaystub.parqueo}})</td>
                                    </tr>
                                    <tr>
                                        <td>Otras Deducciones:</td>
                                        <td>({{selectedPaystub.otras_deducciones}})</td>
                                    </tr>
                                    <tr>
                                        <td>ANticipo Sobre Sueldos:</td>
                                        <td>({{selectedPaystub.anticipos}})</td>
                                    </tr>
                                    <tr>
                                        <td>ISR:</td>
                                        <td>({{selectedPaystub.isr}})</td>
                                    </tr>
                                    <tr>
                                        <td style='color:white'>.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style='color:white'>.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style='color:white'>.</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <div style='position:relative;width:100%'>
                                    <div style='width:33%;float:left'>
                                        <table style='width:100%;margin-top:0px;border:solid black 2px;height:100%;border-collapse: unset; text-align:left'>
                                                <tr>
                                                    <td>Total Devengado:</td>
                                                    <td>{{selectedPaystub.total_cred}}</td>
                                                </tr>
                                                <tr>
                                                    <td style='border-bottom:solid black 3px'>Total Descuentos:</td>
                                                    <td style='border-bottom:solid black 3px'>({{selectedPaystub.total_deb}})</td>
                                                </tr>
                                                <tr>
                                                    <td>Sueldo Liquido:</td>
                                                    <td>{{selectedPaystub.liquido}}</td>
                                                </tr>
                                        </table>
                                    </div>
                                    <div style='width:66.6%;float:left;margin-left:0.4%'>
                                        <table style='width:100%;margin-top:0px;border:solid black 2px;height:100%;border-collapse: unset; text-align:left'>
                                                <tr>
                                                    <td style='color:white'>f</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td style='text-align:right;border-bottom:solid white 1px'>f:</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan='2' style='border-top:solid black 2px;text-align:center;border-collapse: unset; text-align:center'>{{selectedPaystub.employee_name}}</td>
                                                    <td></td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <div style='position:relative;'>
                                    <table style='width:100%;margin-top:0px;border:solid black 2px;height:100%;border-collapse: unset; text-align:left'>
                                            <tr>
                                                <td>Observaciones:</td>
                                                <td colspan='4'></td>
                                            </tr>
                                            <tr>
                                                <td style='color:white'>.</td>
                                                <td colspan='4'></td>
                                            </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                </table>
            </body>
            <body *ngIf="selectedPaystub.select" id='template' [innerHTML]="html">
            </body>
            <div class="row col-md-12 d-flex justify-content-center" *ngIf="selectedPaystub.select" style="margin-top:15px;">
                <p>{{selectedPaystub.result}}</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  