<div style="margin-top:100px">
    <div class="form-row col-md-12" *ngIf="working">
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-8">
            <progress id="file" [value]="progress" [max]="payments.length" style="width:100%;">{{progress}}%</progress>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
    <div class="form-row col-md-12" *ngIf="!importActive && !working">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="filter">
                <option value='name'>NAME</option>
                <option value='type' *ngIf="ded">TYPE</option>
                <option value='reason' *ngIf="ded">REASON</option>
                <option value='amount' *ngIf="ded">AMOUNT</option>
                <option value='DPI' *ngIf="!ded && !showPaymentes">DPI</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <input type="text" class="form-control"
                *ngIf="filter === 'name' || filter === 'reason' || filter === 'amount'" [(ngModel)]='value'>
            <select class="form-control" *ngIf="filter === 'type'" [(ngModel)]='value'>
                <option>DEBIT</option>
                <option>CREDIT</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <i class="fas fa-search" aria-hidden="true" style="margin-left:5px" (click)="searchCloseEmployee()"
                *ngIf="showPaymentes"></i>
            <i class="fas fa-search" aria-hidden="true" style="margin-left:5px" (click)="searchEmployee()"
                *ngIf="!showPaymentes"></i>
            <i class="fas fa-minus-circle" style="margin-left:5px" (click)="cancelCloseSearch()"
                *ngIf="showPaymentes && !searchClosed"></i>
            <i class="fas fa-minus-circle" style="margin-left:5px" (click)="cancelSearch()" *ngIf="!showPaymentes"></i>
            <i class="fas fa-times-circle" style="margin-left:5px" (click)="closeClose()"
                *ngIf="showPaymentes && searchClosed"></i>
            <i class="fas fa-globe-americas" style="margin-left:5px" (click)="showAll()" *ngIf="!showPaymentes"></i>
            <i class="fas fa-check-circle" style="margin-left:5px" (click)="completePeriod()"
                *ngIf="showPaymentes && !completed && period.status == '1'"></i>
            <i class="fas fa-store-slash" style="margin-left:5px" (click)="closePeriod()" *ngIf="!showPaymentes"></i>
            <i class="fas fa-arrow-circle-up" style="margin-left:5px" (click)="activeImport()"
                *ngIf="!showPaymentes && period.status == '1'"></i>
        </div>
    </div>

    <div class="form-row col-md-12" *ngIf="importActive">
        <div class="form-row col-md-12">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-2">
                <select class="form-control" [(ngModel)]="importType" (change)="setType()">
                    <option>Bono</option>
                    <option>ISR</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" [(ngModel)]="importString" *ngIf="importType == 'Bono'">
            </div>
            <div class="form-group col-md-2">
                <input type="file" class="form-control" (change)="addfile($event)">
            </div>
            <div class="form-group col-md-1">
                <i class="fas fa-check-circle" style="margin-top:10%" (click)="completeImport()" *ngIf="completed"></i>
            </div>
            <div class="form-group col-md-3"></div>
        </div>

        <div class="form-row col-md-12" *ngIf="importEnd">
            <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                <thead>
                    <th>NEARSOL ID</th>
                    <th>NAME</th>
                    <th>AMOUNT</th>
                    <th>TYPE</th>
                    <th>PAYMENT</th>
                </thead>
                <tbody>
                    <tr *ngFor="let credit of credits">
                        <td>{{credit.iddebits}}</td>
                        <td>{{credit.notes}}</td>
                        <td>{{credit.amount}}</td>
                        <td>{{credit.type}}</td>
                        <td>{{credit.idpayments}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="from-row col-md-12" *ngIf="showPaymentes && !importActive">
        <div class="form-group col-md-12">
            <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                <thead>
                    <th>ID</th>
                    <th>NEARSOL ID</th>
                    <th>CLIENT ID</th>
                    <th>ACCOUNT</th>
                    <th>NAME</th>
                    <th>DAYS</th>
                    <th>OT</th>
                    <th>CREDITS</th>
                    <th>DEBITS</th>
                    <th>DATE</th>
                    <th>TOTAL</th>
                </thead>
                <tbody>
                    <tr *ngFor="let pay of payments">
                        <td>{{pay.idpayments}}</td>
                        <td>{{pay.nearsol_id}}</td>
                        <td>{{pay.client_id}}</td>
                        <td>{{pay.account}}</td>
                        <td>{{pay.employee_name}}</td>
                        <td>{{pay.days}}</td>
                        <td>{{pay.ot}}</td>
                        <td>{{pay.credits}}</td>
                        <td>{{pay.debits}}</td>
                        <td>{{pay.date}}</td>
                        <td>{{pay.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="from-row col-md-12" *ngIf="!showPaymentes && !importActive">
        <div class="form-group col-md-12" *ngIf="ded">
            <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TYPE</th>
                    <th>REASON</th>
                    <th>AMOUNT</th>
                </thead>
                <tbody>
                    <tr *ngFor="let deduction of deductions"
                        (click)="setPayTime(deduction.idemployees, deduction.idprofiles)">
                        <td>{{deduction.iddeductions}}</td>
                        <td>{{deduction.name}}</td>
                        <td>{{deduction.type}}</td>
                        <td>{{deduction.reason}}</td>
                        <td>{{deduction.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group col-md-12" *ngIf="!ded">
            <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>ACCOUNT</th>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees" (click)="setPayTime(emp.idemployees, emp.id_profile)">
                        <td>{{emp.id_profile}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.account}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-row col-md-12"
        style="border:solid 3px#adc7ff; border-radius:10px; margin-left:1%;width:98%;background-color:#f4f8ff"
        *ngIf="selectedEmployee && !showPaymentes && !importActive">
        <div class="form-group col-md-4"
            style="padding:10px; border-right:4px #adc7ff solid; margin-top:15px; margin-bottom:15px;">
            <label style="font-size: 20px; font-weight: bold; margin-left:40%;margin-top: 10px;">ATTENDANCES</label>
            <div class="from-row col-md-12">
                <table style="width: 100;" class="table table-striped table-hover"
                    style="width: 100%;text-align:center">
                    <thead style="text-align:center;">
                        <th>DATE</th>
                        <th>ROSTER</th>
                        <th>ATTENDED</th>
                        <th>BALANCE</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let att of attendances" class="selectable">
                            <td>{{att.date}}</td>
                            <td>{{att.scheduled}}</td>
                            <td>{{att.worked_time}}</td>
                            <td>{{att.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-row col-md-12">
                <label style="font-size: 20px; font-weight: bold; margin-left:40%;margin-top: 10px;">VACATIONS</label>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <table style="width: 100;" class="table table-striped table-hover"
                            style="width: 100%;text-align:center">
                            <thead style="text-align:center;">
                                <th>USER</th>
                                <th>DATE</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vacation of vacations" class="selectable">
                                    <td>{{vacation.id_user}}</td>
                                    <td>{{vacation.took_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-row col-md-12">
                <label style="font-size: 20px; font-weight: bold; margin-left:40%;margin-top: 10px;">LEAVE</label>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <table style="width: 100;" class="table table-striped table-hover"
                            style="width: 100%;text-align:center">
                            <thead style="text-align:center;">
                                <th>START</th>
                                <th>END</th>
                                <th>MOTIVE</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let leave of leaves" class="selectable">
                                    <td>{{leave.start}}</td>
                                    <td>{{leave.end}}</td>
                                    <td>{{leave.motive}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-row col-md-12" style="text-align:center;">
                <div class="form-group col-md-2">
                    <label>DAYS OFF</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="daysOff">
                </div>
                <div class="form-group col-md-2">
                    <label>ROSTER</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="roster">
                </div>
                <div class="form-group col-md-2">
                    <label>ATTENDED</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="attended">
                </div>
                <div class="form-group col-md-2">
                    <label>DIFF</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="diff">
                </div>
                <div class="form-group col-md-2">
                    <label>DISCOUNTED</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="absence_fixed">
                </div>
                <div class="form-group col-md-2">
                    <label>SEVENTH</label>
                    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="seventh">
                </div>
            </div>

        </div>

        <div class="form-group col-md-4"
            style="padding:10px; border-right:4px #adc7ff solid; margin-top:15px; margin-bottom:15px;">
            <label style="font-size: 20px; font-weight: bold; margin-left:45%;margin-top: 10px;">DEBITS</label>
            <div class="from-row col-md-12">
                <table style="width: 100;" class="table table-striped table-hover"
                    style="width: 100%;text-align:center">
                    <thead style="text-align:center">
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>AMOUNT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let debit of debits" class="selectable">
                            <td>{{debit.iddebits}}</td>
                            <td>{{debit.type}}</td>
                            <td>{{debit.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6" style="text-align:center">
                    <label>TOTAL</label>
                    <input type="text" class="form-control" [disabled]='true' [(ngModel)]="totalDebits">
                </div>
                <div class="form-group col-md-3"></div>
            </div>
        </div>

        <div class="form-group col-md-4" style="padding:10px; margin-top:15px; margin-bottom:15px;">
            <label style="font-size: 20px; font-weight: bold; margin-left:45%;margin-top: 10px;">CREDITS</label>
            <div class="from-row col-md-12">
                <table style="width: 100;" class="table table-striped table-hover"
                    style="width: 100%;text-align:center">
                    <thead style="text-align:center">
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>AMOUNT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cred of credits" class="selectable">
                            <td>{{cred.iddebits}}</td>
                            <td>{{cred.type}}</td>
                            <td>{{cred.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6" style="text-align:center">
                    <label>TOTAL</label>
                    <input type="text" class="form-control" [disabled]='true' [(ngModel)]="totalCredits">
                </div>
                <div class="form-group col-md-3"></div>
            </div>
        </div>
    </div>