<div class="container-fluid" style="position: absolute; width: 100%;" *ngIf="loading">
    <div class="form-row col-md-12">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem; margin:auto;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div style="margin-top:100px;">
    <div class="form-row col-md-12" *ngIf="working && (progress > 0)">
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-8">
            <progress id="file" [value]="progress" [max]="max_progress" style="width:100%;">{{progress}}%</progress>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
    <div class="form-row col-md-12" *ngIf="!importActive && !working">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="filter">
                <option value='name'>NAME</option>
                <option value='type' *ngIf="ded">TYPE</option>
                <option value='reason' *ngIf="ded">REASON</option>
                <option value='amount' *ngIf="ded">AMOUNT</option>
                <option value='DPI' *ngIf="!ded && !showPayments">DPI</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <input type="text" class="form-control"
                *ngIf="filter === 'name' || filter === 'reason' || filter === 'amount'" [(ngModel)]='value'
                (keyup.enter)="searchEmployee()">
            <select class="form-control" *ngIf="filter === 'type'" [(ngModel)]='value'>
                <option>DEBIT</option>
                <option>CREDIT</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <!-----------------------------------SEARCH---------------------------------------------------------------------->
            <button class="btn btn-outline-secondary" *ngIf="showPayments && !closing_import" style="margin-left:5px"
                (click)="searchCloseEmployee()"><i class="fas fa-search" aria-hidden="true" data-toggle="tooltip"
                    data-placement="top" title="Search Employee" *ngIf="showPayments"></i></button>

            <button class="btn btn-outline-secondary" *ngIf="!showPayments && !closing_import" style="margin-left:5px"
                (click)="searchEmployee()"><i class="fas fa-search" aria-hidden="true" data-toggle="tooltip"
                    data-placement="top" title="Search Employee" *ngIf="!showPayments"></i></button>

            <button class="btn btn-outline-secondary" *ngIf="showPayments && !searchClosed && !closing_import"
                style="margin-left:5px" (click)="cancelCloseSearch()"><i class="fas fa-minus-circle"
                    data-toggle="tooltip" data-placement="top" title="Cancel Search"
                    *ngIf="showPayments && !searchClosed"></i></button>

            <button class="btn btn-outline-secondary" (click)="cancelSearch()" *ngIf="!showPayments && !closing_import"
                style="margin-left:5px"><i class="fas fa-minus-circle" data-toggle="tooltip" data-placement="top"
                    title="Cancel Search" *ngIf="!showPayments"></i></button>
            <!-----------------------------------SEARCH---------------------------------------------------------------------->

            <!-----------------------------------GLOBAL---------------------------------------------------------------------->
            <button class="btn btn-outline-secondary" (click)="showAll()" *ngIf="!showPayments && !closing_import"
                style="margin-left:5px"><i class="fas fa-globe-americas" data-toggle="tooltip" data-placement="top"
                    title="Show All" *ngIf="!showPayments"></i></button>
            <!-----------------------------------GLOBAL---------------------------------------------------------------------->

            <!------------------------------------COMPLETE / DISMISS Close--------------------------------------------------->
            <button class="btn btn-outline-secondary" (click)="closeClose()"
                *ngIf="showPayments && searchClosed && period.status == '1' && !closing_import"
                style="margin-left:5px"><i class="fas fa-times-circle"
                    *ngIf="showPayments && searchClosed && period.status == '1'"></i></button>

            <button class="btn btn-outline-secondary" (click)="completePeriod()"
                *ngIf="showPayments && !completed && period.status == '3'" style="margin-left:5px"><i
                    class="fas fa-check-circle" data-toggle="tooltip" data-placement="top" title="Save Close Period"
                    *ngIf="showPayments && !completed && period.status == '3' && !closing_import"></i></button>
            <!------------------------------------COMPLETE / DISMISS Close--------------------------------------------------->

            <!-------------------------------------CLOSE PERIOD-------------------------------------------------------------->
            <button class="btn btn-outline-secondary" (click)="closePeriod()"
                *ngIf="!showPayments && period.status == '3'" style="margin-left:5px" title="Calc Close Period">
                <i class="fas fa-store-slash" data-toggle="tooltip" data-placement="top"
                    *ngIf="!showPayments && !closing_import"></i>
            </button>
            <button class="btn btn-outline-secondary" (click)="togglePeriod()"
                *ngIf="!showPayments && (period.status == '3' || period.status == '1')" style="margin-left:5px"
                title="Toggle Period">
                <i class="fa fa-recycle" data-toggle="tooltip" data-placement="top"></i>
            </button>
            <button class="btn btn-outline-secondary" *ngIf="!showPayments && period.status != '3' && !closing_import"
                style="margin-left: 5px;" data-target="#uploadPayrollValues" data-toggle="modal"
                title="Upload Payroll Values">
                <i class="far fa-clock"></i>
            </button>
            <!-------------------------------------CLOSE PERIOD-------------------------------------------------------------->

            <!-------------------------------------IMPORT DEDUCTIONS--------------------------------------------------------->
            <button class="btn btn-outline-secondary"
                *ngIf="!showPayments && (period.status == '3' || period.status == '1') && !closing_import"
                (click)="activeImport()" style="margin-left:5px"><i class="fas fa-arrow-circle-up"
                    *ngIf="!showPayments && (period.status == '3' || period.status == '1') && !closing_import"></i></button>
            <!-------------------------------------IMPORT DEDUCTIONS--------------------------------------------------------->

            <!-------------------------------------EXPORT REPORTS------------------------------------------------------------->
            <button class="btn btn-outline-secondary" (click)="exportPayrollReport()"
                *ngIf="period.status == '0' && !closing_import" style="margin-left:5px"><i class="fas fa-download"
                    data-toggle="tooltip" data-placement="top" title="Payroll Report"
                    *ngIf="period.status == '0'"></i></button>

            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#setBilling"
                *ngIf="period.status == '0' && !closing_import" style="margin-left:5px"><i
                    class="fas fa-file-invoice-dollar" *ngIf="period.status == '0'"></i></button>

            <button class="btn btn-outline-secondary" *ngIf="period.status == '0' && !closing_import"
                style="margin-left:5px" data-toggle="tooltip" data-placement="top" title="Bank Report"
                (click)="exportBankReport()"><i class="fas fa-money-check-alt d-inline-block"
                    *ngIf="period.status == '0'"></i></button>

            <button class="btn btn-outline-secondary" style="margin-left:5px" data-toggle="tooltip" data-placement="top"
                title="Get IGSS" data-toggle="modal" data-target="#setPatrono"
                *ngIf="period.status == '0' && !closing_import"><i class="fas fa-file-contract"></i></button>
            <!-------------------------------------EXPORT REPORTS------------------------------------------------------------->
            <!-------------------------------------SETTINGS------------------------------------------------------------->
            <button class="btn btn-outline-secondary" style="margin-left:5px" data-toggle="tooltip" data-placement="top"
                title="Settings" data-toggle="modal" data-target="#settings"><i class="fa-solid fa-gears"></i></button>
            <!-------------------------------------SETTINGS------------------------------------------------------------->
            <!-------------------------------------PAYROLL VALUES------------------------------------------------------------->
            <button class="btn btn-outline-secondary" *ngIf="closing_import && !loading_import && !save_import"
                (click)="clearData()"><i class="fas fa-times"></i></button>
            <button class="btn btn-outline-secondary" *ngIf="closing_import && !loading_import && !save_import"
                style="margin-left: 5px;" (click)="setPayrollValues_import()"><i class="fas fa-check"></i></button>
            <button class="btn btn-outline-secondary" *ngIf="closing_import && save_import && !loading_save"
                style="margin-left: 5px;" (click)="saveImportedPayroll()"><i class="far fa-save"></i></button>
            <div class="d-flex align-items-center"
                *ngIf="(loading_import && !loading_save) || (!loading_import && loading_save)"
                style="margin-left: 10px;">
                <strong>Loading...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true" style="margin-left:10px"></div>
            </div>
            <!-------------------------------------PAYROLL VALUES------------------------------------------------------------->
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-2">
            <div class="row p-2">
                <select class="form-control" [(ngModel)]="selectedClient" (change)="setClient(selectedClient)">
                    <option *ngFor="let client of clients" [value]="client.idclients">{{client.name}}</option>
                </select>
            </div>
            <div class="row p-2">
                <div class="list-group uses-all" id="list-tab" role="tablist" *ngFor="let acc of accounts">
                    <div class="list-group row uses-all" style="height: 52px; max-height: 104px; margin-left: 5px;">
                        <section>
                            <div class="col-md-12 uses-all d-flex"
                                style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;">
                                <a id="a" class="list-group-item list-group-item-action d-flex justify-content-between"
                                    [tabindex]="acc.idaccounts"
                                    *ngIf="selectedAccount.idaccounts != acc.idaccounts && acc.payrollCount == 0"
                                    style="cursor: pointer;" (click)="setAccount_sh(acc)">
                                    {{ acc.name }}
                                </a>
                                <a id="a"
                                    class="list-group-item list-group-item-action active d-flex justify-content-between"
                                    [tabindex]="acc.idaccounts"
                                    *ngIf="selectedAccount.idaccounts == acc.idaccounts && acc.payrollCount == 0"
                                    style="cursor: pointer;" (click)="setAccount_sh(acc)">
                                    {{ acc.name }}
                                </a>
                                <a id="a"
                                    class="list-group-item list-group-item-action active d-flex justify-content-between"
                                    [tabindex]="acc.idaccounts"
                                    *ngIf="selectedAccount.idaccounts == acc.idaccounts && acc.payrollCount > 0"
                                    style="cursor: pointer;" (click)="setAccount_sh(acc)">
                                    {{ acc.name }}
                                    <i class="fa fa-trash pointer" [tabindex]="acc.idaccounts"
                                        (click)="delPayrollAccount(acc)" style="margin-top: 5px;"
                                        *ngIf="acc.payrollCount > 0"></i>
                                </a>
                                <a id="a"
                                    class="list-group-item list-group-item-action notEmpty d-flex justify-content-between"
                                    [tabindex]="acc.idaccounts"
                                    *ngIf="acc.payrollCount > 0 && selectedAccount.idaccounts != acc.idaccounts"
                                    style="cursor: pointer;" (click)="setAccount_sh(acc)">
                                    {{ acc.name }}
                                    <i class="fa fa-trash pointer" [tabindex]="acc.idaccounts"
                                        (click)="delPayrollAccount(acc)" style="margin-top: 5px;"></i>
                                </a>
                            </div>
                            <!--
                      <div class="col-md-2" style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; align-tracks: center;">
                        
                        <a id="b" class="btn btn-outline-danger" [tabindex]="acc.idaccounts" style="cursor: pointer;"
                          (click)="delPayrollAccount(acc)">
                          <i class="fa fa-trash"></i>
                        </a> 
                      </div> -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" *ngIf="closing_import">
            <table class="table table-light selectable">
                <thead>
                    <th>AVAYA</th>
                    <th>ID</th>
                    <th>FULL NAME</th>
                    <th>ACCOUNT</th>
                    <th>DAYS</th>
                    <th>7th</th>
                    <th>TOTAL</th>
                    <th>HOURS</th>
                    <th>OT</th>
                    <th>HOLIDAY</th>
                    <th>PERFORMANCE</th>
                    <th>TREASURE HUNT</th>
                </thead>
                <tbody>
                    <tr *ngFor="let pys of sortPayrollValues()"
                        [ngClass]="{'table-success':pys.status == '1', 'table-danger':pys.status == '0', 'table-warning':pys.status == '3'}" [title]="pys.details">
                        <td>{{pys.client_id}}</td>
                        <td>{{pys.nearsol_id}}</td>
                        <td>{{pys.agent_name}}</td>
                        <td *ngIf="pys.status == '1' && !loadAll">{{selectedAccount.name}}</td>
                        <td *ngIf="pys.status == '3' && !loadAll">
                            <select [(ngModel)]="currentPym" (change)="setAccountDis(pys, $event.target.value)">
                                <option *ngFor="let pym of filterUnique(pys)" [ngValue]="pym">
                                    {{getAccountName(pym.id_account_py).name}}</option>
                            </select>
                        </td>
                        <td *ngIf="(pys.status == '3' && loadAll) || (pys.status == '1' && loadAll)">
                            {{pys.account_name}}
                        </td>
                        <td *ngIf="pys.status == '0'"></td>
                        <td>{{pys.discounted_days}}</td>
                        <td>{{pys.seventh}}</td>
                        <td>{{pys.total_days}}</td>
                        <td>{{pys.discounted_hours}}</td>
                        <td>{{pys.ot_hours}}</td>
                        <td>{{pys.holidays_hours}}</td>
                        <td>{{pys.performance_bonus}}</td>
                        <td>{{pys.treasure_hunt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10" *ngIf="importActive">
            <div class="row col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="importType" (change)="setType()">
                        <option>Bonus</option>
                        <option>Discount</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="importString">
                        <option *ngIf="importType == 'Discount'">ISR</option>
                        <option *ngIf="importType == 'Discount'">Prestamo Personal</option>
                        <option *ngIf="importType == 'Discount'">TARJETA DE ACCESO</option>
                        <option *ngIf="importType == 'Discount'">Parking Motorcycle</option>
                        <option *ngIf="importType == 'Discount'">parking Car</option>
                        <option *ngIf="importType == 'Discount'">Transporte en Bus</option>
                        <option *ngIf="importType == 'Discount'">Boleto de Ornato</option>
                        <option *ngIf="importType == 'Discount'">Seguro</option>
                        <option *ngIf="importType == 'Discount'">Judiciales</option>
                        <option *ngIf="importType == 'Discount'">Headsets</option>
                        <option *ngIf="importType == 'Discount'">Tienda</option>
                        <option *ngIf="importType == 'Bonus'">Bonos Diversos</option>
                        <option *ngIf="importType == 'Bonus'">RAF Bonus</option>
                        <option *ngIf="importType == 'Bonus'">Treasure Hunt</option>
                        <option *ngIf="importType == 'Bonus'">Hiring Bonus</option>
                        <option *ngIf="importType == 'Bonus'">Ajustes Periodos Anteriores</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="file" class="form-control" (change)="addfile($event)">
                </div>
                <div class="col-md-1">
                    <i class="fas fa-check-square" style="margin-top:10%" (click)="completeImport()"
                        *ngIf="completed"></i>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="col-md-12 row" *ngIf="importEnd  && importType == 'Bonus'">
                <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                    <thead>
                        <th>NEARSOL ID</th>
                        <th>NAME</th>
                        <th>AMOUNT</th>
                        <th>TYPE</th>
                        <th>PAYMENT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let credit of credits">
                            <td>{{credit.iddebits}}</td>
                            <td>{{credit.notes}}</td>
                            <td>{{credit.amount}}</td>
                            <td>{{credit.type}}</td>
                            <td>{{credit.idpayments}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12 row" *ngIf="importEnd && importType == 'Discount'">
                <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                    <thead>
                        <th>NEARSOL ID</th>
                        <th>NAME</th>
                        <th>AMOUNT</th>
                        <th>TYPE</th>
                        <th>PAYMENT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deb of debits">
                            <td>{{deb.iddebits}}</td>
                            <td>{{deb.notes}}</td>
                            <td>{{deb.amount}}</td>
                            <td>{{deb.type}}</td>
                            <td>{{deb.idpayments}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-10" *ngIf="showPayments && !importActive">
            <div class="form-group col-md-12">
                <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                    <thead>
                        <th>ID</th>
                        <th>NEARSOL ID</th>
                        <th>CLIENT ID</th>
                        <th>ACCOUNT</th>
                        <th>NAME</th>
                        <th>DAYS</th>
                        <th>HOURS</th>
                        <th>SEVENTH</th>
                        <th>OT</th>
                        <th>HOLIDAYS</th>
                        <th>BASE</th>
                        <th>PRODUCTIVITY</th>
                        <th>CREDITS</th>
                        <th>DEBITS</th>
                        <th>DATE</th>
                        <th>TOTAL</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pay of show_payments" data-toggle="modal" data-target="#payment-details"
                            (click)="setPayTime(pay)">
                            <td>{{pay.idpayments}}</td>
                            <td>{{pay.nearsol_id}}</td>
                            <td>{{pay.client_id}}</td>
                            <td>{{pay.account}}</td>
                            <td>{{pay.employee_name}}</td>
                            <td>{{pay.days}}</td>
                            <td>{{pay.base_hours}}</td>
                            <td>{{pay.seventh}}</td>
                            <td>{{pay.ot}}</td>
                            <td>{{pay.holidays}}</td>
                            <td>{{pay.base}}</td>
                            <td>{{pay.productivity}}</td>
                            <td>{{pay.credits}}</td>
                            <td>{{pay.debits}}</td>
                            <td>{{pay.date}}</td>
                            <td>{{pay.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-10" *ngIf="!showPayments && !importActive && !closing_import">
            <div class="form-group col-md-12" *ngIf="ded">
                <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                    <thead>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>TYPE</th>
                        <th>REASON</th>
                        <th>AMOUNT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deduction of deductions">
                            <td>{{deduction.iddeductions}}</td>
                            <td>{{deduction.name}}</td>
                            <td>{{deduction.type}}</td>
                            <td>{{deduction.reason}}</td>
                            <td>{{deduction.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group col-md-12" *ngIf="!ded">
                <table class="table table-striped table-hover" style="width: 100%;text-align:center">
                    <thead>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>ACCOUNT</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of employees" (click)="setPayTimeEmp(emp)" data-toggle="modal"
                            data-target="#payment-details">
                            <td>{{emp.idemployees}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.account}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------- MODAL PAYMENT DETAILS -------------------------------------------------------------->
<div class="modal fade" id="payment-details" tabindex="-1" role="dialog" aria-labelledby="payment-detailsLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payment-detailsLabel">{{selected_payroll_value.agent_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <nav width=100% style="border-top: 4px solid #e3f2fd;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist" width=100% style="padding-top:15px">
                        <a class="nav-item nav-link active" id="nav-attendence-tab" data-toggle="tab"
                            href="#nav-attendence" role="tab" aria-controls="nav-attendence"
                            aria-selected="true">ATTENDANCE</a>
                        <a class="nav-item nav-link" id="nav-credits-tab" data-toggle="tab" href="#nav-credits"
                            role="tab" aria-controls="nav-credits" aria-selected="true">CREDITS</a>
                        <a class="nav-item nav-link" id="nav-debits-tab" data-toggle="tab" href="#nav-debits" role="tab"
                            aria-controls="nav-debits" aria-selected="true">DEBITS</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-attendence" role="tabpanel"
                        aria-labelledby="nav-attendence-tab">
                        <table style="width: 100%;" class="table table-hover">
                            <thead class="thead-dark">
                                <th>DATE</th>
                                <th>SCHEDULED</th>
                                <th>WORKED</th>
                                <th>BALANCE</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let at of detailed_attendance table-hover"
                                    [ngClass]="{'table-danger':(at.balance === 'JANP' || at.balance === 'NS' || at.balance === 'LOA'), 'table-success':at.balance > '0',
                         'table-info':(at.balance === 'OFF' || at.balance === 'VAC' || at.balance === 'JAP'),
                         'table-light':at.balance === '0', 'table-warning':at.balance < '0', 'table-secondary':at.balance === 'TERM' || at.balance === 'TRANSFER'}">
                                    <td>{{at.date}}</td>
                                    <td>{{at.scheduled}}</td>
                                    <td>{{at.worked}}</td>
                                    <td>{{at.balance}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row col-md-12">
                            <div class="col-md-3">
                                <label>TOTAL +/-:</label>
                                <input type="text" class="form-control" [(ngModel)]="detailed_hrs" [disabled]="true">
                            </div>
                            <div class="col-md-3">
                                <label>REGULAR:</label>
                                <input type="text" class="form-control"
                                    [(ngModel)]="selected_payroll_value.discounted_days" [disabled]="true">
                            </div>
                            <div class="col-md-3">
                                <label>SEVENTH:</label>
                                <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.seventh"
                                    [disabled]="true">
                            </div>
                            <div class="col-md-3">
                                <label>TOTAL:</label>
                                <input type="text" class="form-control" [(ngModel)]="selected_payroll_value.total_days"
                                    [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credits" role="tabpanel" aria-labelledby="nav-credits-tab">
                        <table class="table table-hover ">
                            <thead>
                                <th>ID</th>
                                <th>CONCEPT</th>
                                <th>AMOUNT</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cr of detailed_credits">
                                    <td>{{cr.iddebits}}</td>
                                    <td>{{cr.type}}</td>
                                    <td>{{cr.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-debits" role="tabpanel" aria-labelledby="nav-debits-tab">
                        <table class="table table-hover ">
                            <thead>
                                <th>ID</th>
                                <th>CONCEPT</th>
                                <th>AMOUNT</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let db of detailed_debits">
                                    <td>{{db.iddebits}}</td>
                                    <td>{{db.type}}</td>
                                    <td>{{db.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-right mt-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------- MODAL BILLING REPORT- -------------------------------------------------------------->
<div class="modal fade" id="setBilling" tabindex="-1" aria-labelledby="setBillingLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="st-setBillingLabel">BILLING EXPORT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label>CLIENT:</label>
                        <select class="form-control" [ngModel]="selected_accounts"
                            (click)="setAccount($event.target.value)">
                            <option value="1">FIRST PARTY EXPENSE</option>
                            <option value="2">THIRD PARTY EXPENSE</option>
                            <option value="3">QA EXPENSE</option>
                            <option value="4">HR, Admin, Finance EXPENSE</option>
                            <option value="5">ZERO VARIANCE EXPENSE</option>
                            <option value="6">ARBONNE EXPENSE</option>
                            <option value="7">FIRST PARTY COST</option>
                            <option value="8">THIRD PARTY COST</option>
                            <option value="9">QA COST</option>
                            <option value="10">HR, Admin, Finance COST</option>
                            <option value="11">ZERO VARIANCE COST</option>
                            <option value="12">ARBONNE COST</option>
                        </select>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" (click)="saveBilling()">Save</button>
                </div>
                <div class="d-flex justify-content-right">
                    <button type="button" class="btn btn-primary" (click)="exportBilling()"
                        data-dismiss="modal">Generate</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------- MODAL BILLING REPORT- -------------------------------------------------------------->
<div class="modal fade" id="setPatrono" tabindex="-1" aria-labelledby="setPatronoLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="st-setPatronoLabel">PATRONO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label>Patrono:</label>
                        <select class="form-control" [ngModel]="selected_patrono"
                            (change)="setPatrono($event.target.value)">
                            <option>PRG Recurso Humano, S.A.</option>
                            <option>Nearsol, S.A.</option>
                        </select>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="d-flex justify-content-right">
                    <button type="button" class="btn btn-primary" (click)="exportIgss()">Generate</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------- UPLOAD PAYROLLVALUES -------------------------------------------------------------------->
<div class="modal fade" id="uploadPayrollValues" tabindex="-1" aria-labelledby="uploadPayrollValuesLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="st-uploadPayrollValuesLabel">UPLOAD PAYROLL VALUES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <input type="file" class="form-control" (change)="setPayrollValues($event)">
                </div>
                <div class="row d-flex justify-content-center" style="margin-top:5px">
                    <label><input type="checkbox" [(ngModel)]="loadAll"> Load All</label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (mousedown)="cancelImport()">Cancel</button>
                </div>
                <div class="d-flex justify-content-right row">
                    <button type="button" class="btn bnt-primary" disabled *ngIf="closing_import && working">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!working">Preview</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------- SETTINGS -------------------------------------------------------------------->
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="uploadPayrollValuesLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="st-uploadPayrollValuesLabel">SETTINGS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table tbl" style="margin-left:10%;width:80%">
                        <tr>
                            <td style="padding:0px">SHOW TERMINATIONS</td>
                            <td style="padding:0px"><input type="checkbox" class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="padding:0px">AUTO GENERATE APPORTIONMENTS</td>
                            <td style="padding:0px"><input type="checkbox" class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="padding:0px">AUTO GENERATE LEGAL DISCOUNTS</td>
                            <td style="padding:0px"><input type="checkbox" class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="padding:0px">AUTO GENERATE ADJUSTMENTS</td>
                            <td style="padding:0px"><input type="checkbox" class="form-control"></td>
                        </tr>
                        <tr>
                            <td style="padding:0px">RECALCULATE BONUSES</td>
                            <td style="padding:0px"><input type="checkbox" class="form-control"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (mousedown)="cancelImport()">Cancel</button>
                </div>
                <div class="d-flex justify-content-right row">
                    <button type="button" class="btn bnt-primary" disabled *ngIf="closing_import && working">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (mousedown)="saveSettings()"
                        *ngIf="!working">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>